/*
*
*	Container
*	=======================================================================
*	Extends the idea of the outer-container mixin by adding a few options.
*	Padding is included by default, clearfix can be disabled, and we have
*	the option of 100%-width-of-viewport backgrounds that extend outside   
*	the container while avoiding <div> soup.
*
*	Arbitrary Variables (global things I use)
*	------------------------------------------------
*	$outer-padding   20px
*	$bp-mobile       new-breakpoint(max-width 640px)
*	$max-width       1280px
*
*/

@mixin border-underline(
	$color : #000,
	$order : true,
	$size  : 1px
){

	@if $order == true {
		border-bottom: $size solid transparent;
		&:hover { border-color: $color; }
	} @else {
		border-bottom: $size solid $color;
		&:hover { border-color: transparent; }
	}

	@include transition(color 0.2s ease, border 0.2s ease);

}