/*
 *
 *	Container
 *	=======================================================================
 *	Extends the idea of the outer-container mixin by adding a few options.
 *	Padding is included by default, clearfix can be disabled, and we have
 *	the option of 100%-width-of-viewport backgrounds that extend outside   
 *	the container while avoiding <div> soup.
 *
 *	Arbitrary Variables (global things I use)
 *	---------------------------------------------------------------
 *	$outer-padding   20px
 *	$max-width       1320px
 *	$bp-desktop      new-breakpoint(min-width ($max-width+1))
 *  $bp-container    new-breakpoint(max-width $max-width)
 *
 *	---------------------------------------------------------------
 *	NOTE: 100%-width-of-viewport backgrounds require the following:
 *	
 *	html, body {
 *		position: relative;
 *		@include media($bp-desktop) { overflow-x: hidden; }
 *	}
 *	---------------------------------------------------------------
 *
 */

@mixin container(
	$padding         : true,
	$full-background : false,
	$clearfix        : true,
	$position        : relative
){

	@if $padding == true {
		padding: { right: $outer-padding; left: $outer-padding; }
	}

	@if $full-background != false {
		@include media($bp-desktop) {
			position: $position;

			> * {
				position: relative;
				z-index: 1;
			}

			&:before {
				content: '';
				display: block;
				@include position(absolute, 0px -10000px 0px -10000px);
				background: $full-background;
				z-index: 0;
			}
		}

		@include media($bp-container) { background: $full-background; }
	}

	@if $clearfix == true {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	max-width: $max-width; 
	margin: { right: auto; left: auto; }

} 