/*
 *
 *	Fixed Aspect Ratio
 *	=======================================================================
 *	A mixin for media containers (or other) that require a fixed aspect
 *	ratio in responsive layouts.
 *
 *	Examples
 *	-----------------------------------
 *	@include fixed-aspect-ratio(16, 9);
 *	@include fixed-aspect-ratio(4, 3);
 *
 */

@mixin fixed-aspect-ratio($aspect-ratio-x, $aspect-ratio-y) {
	display: block;
	position: relative;
	@include size(100% 0px);
	padding-bottom: $aspect-ratio-y/$aspect-ratio-x * 100%;
	> * {
		display: block;
		@include position(absolute, 0px 0px 0px 0px);
		@include size(100%);
		border: 0;
	}
}